In [ ]:
import pandas as pd
from pathlib import Path
import os

In [ ]:
# I ran this in a jupyter notebook on my desktop
data_15 = pd.read_csv(r'C:\Users\julio\OneDrive\Desktop\BTS_data\pbp_data_2015.csv')
# data_16 = pd.read_csv(r'C:\Users\julio\OneDrive\Desktop\BTS_data\pbp_data_2016.csv')
# data_17 = pd.read_csv(r'C:\Users\julio\OneDrive\Desktop\BTS_data\pbp_data_2017.csv')
# data_18 = pd.read_csv(r'C:\Users\julio\OneDrive\Desktop\BTS_data\pbp_data_2018.csv')
# data_19 = pd.read_csv(r'C:\Users\julio\OneDrive\Desktop\BTS_data\pbp_data_2019.csv')
# data_20 = pd.read_csv(r'C:\Users\julio\OneDrive\Desktop\BTS_data\pbp_data_2020.csv')
# data_21 = pd.read_csv(r'C:\Users\julio\OneDrive\Desktop\BTS_data\pbp_data_2021.csv')
# data_22 = pd.read_csv(r'C:\Users\julio\OneDrive\Desktop\BTS_data\pbp_data_2022.csv')
# data_23 = pd.read_csv(r'C:\Users\julio\OneDrive\Desktop\BTS_data\pbp_data_2023.csv')

data_15

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,FF,2015-11-01,96.1,-2.02,6.25,"Davis, Wade",527038,451584,strikeout,called_strike,...,7,7,2,2,7,Standard,Strategic,NaN,-0.001,-0.212
1,FC,2015-11-01,93.1,-1.66,6.24,"Davis, Wade",527038,451584,NaN,foul,...,7,7,2,2,7,Standard,Strategic,NaN,0.000,0.000
2,FF,2015-11-01,97.0,-1.64,6.30,"Davis, Wade",527038,451584,NaN,foul,...,7,7,2,2,7,Standard,Strategic,NaN,0.000,0.000
3,FC,2015-11-01,93.6,-1.58,6.24,"Davis, Wade",527038,451584,NaN,ball,...,7,7,2,2,7,Strategic,Strategic,NaN,0.000,0.016
4,FF,2015-11-01,97.1,-1.70,6.30,"Davis, Wade",527038,451584,NaN,foul,...,7,7,2,2,7,Strategic,Standard,NaN,0.000,-0.052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712834,CU,2015-04-05,75.9,2.43,5.52,"Lester, Jon",572761,452657,NaN,ball,...,0,0,0,0,0,NaN,NaN,NaN,0.000,0.036
712835,FF,2015-04-05,91.6,2.55,5.42,"Lester, Jon",572761,452657,NaN,ball,...,0,0,0,0,0,NaN,NaN,NaN,0.000,0.018
712836,FF,2015-04-05,94.8,2.45,5.42,"Lester, Jon",572761,452657,NaN,foul,...,0,0,0,0,0,NaN,NaN,NaN,0.000,0.000
712837,FF,2015-04-05,93.4,2.40,5.50,"Lester, Jon",572761,452657,NaN,swinging_strike,...,0,0,0,0,0,NaN,NaN,NaN,0.000,-0.046
712838,FF,2015-04-05,93.6,2.50,5.43,"Lester, Jon",572761,452657,NaN,called_strike,...,0,0,0,0,0,NaN,NaN,NaN,0.000,-0.032

In [ ]:
# Check to make sure it got every game for a random player
# df = data_15[data_15['batter'] == 408314]
# unique_game_pk = df['game_pk'].unique()
# unique_game_pk

In [ ]:
hit_list = ['single', 'double', 'triple', 'home_run']
k_list = ['strikeout'] #, 'strikeout_double_play']
w_list = ['walk', 'intent_walk', 'hit_by_pitch']
# drop values where there isn't an event ( ignore all pitches that doesn't result in a play)
data_15 = data_15.dropna(subset=['events'])
# add hit boolean
data_15['hits_count'] = data_15['events'].isin(hit_list).astype(int)
data_15['ks_count'] = data_15['events'].isin(k_list).astype(int)
data_15['walks_count'] = data_15['events'].isin(w_list).astype(int)

# df = data_15['events'].unique()
data_15

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,h_count,k_count,w_count,hits_count,ks_count,walks_count
0,FF,2015-11-01,96.1,-2.02,6.25,"Davis, Wade",527038,451584,strikeout,called_strike,...,Strategic,NaN,-0.001,-0.212,0,1,0,0,1,0
6,FF,2015-11-01,96.6,-1.39,6.40,"Davis, Wade",624424,451584,single,hit_into_play,...,Standard,NaN,0.001,0.154,1,0,0,1,0,0
10,FF,2015-11-01,96.6,-1.32,6.34,"Davis, Wade",518595,451584,strikeout,swinging_strike,...,Standard,NaN,-0.002,-0.200,0,1,0,0,1,0
16,KC,2015-11-01,85.5,-1.52,6.37,"Davis, Wade",446263,451584,strikeout,swinging_strike_blocked,...,Standard,NaN,-0.005,-0.146,0,1,0,0,1,0
20,SI,2015-11-01,88.1,-1.19,5.51,"Colon, Bartolo",519058,112526,field_out,hit_into_play,...,Standard,NaN,0.001,-0.325,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712820,FC,2015-04-05,89.9,2.43,5.41,"Lester, Jon",571431,452657,strikeout,swinging_strike,...,NaN,NaN,0.020,-0.152,0,1,0,0,1,0
712825,CU,2015-04-05,76.8,2.51,5.42,"Lester, Jon",425509,452657,strikeout,swinging_strike,...,NaN,NaN,0.025,-0.190,0,1,0,0,1,0
712828,FF,2015-04-05,93.2,2.39,5.41,"Lester, Jon",407812,452657,single,hit_into_play,...,NaN,NaN,-0.084,0.536,1,0,0,1,0,0
712831,FC,2015-04-05,89.9,2.51,5.43,"Lester, Jon",518792,452657,double,hit_into_play,...,NaN,NaN,-0.041,0.401,1,0,0,1,0,0
712833,FF,2015-04-05,93.6,2.51,5.45,"Lester, Jon",572761,452657,field_out,hit_into_play,...,NaN,NaN,0.022,-0.201,0,0,0,0,0,0

In [ ]:
# HPG calculations (hit per game)
h_df = data_15.groupby(['game_pk', 'batter'])['hits_count'].sum().reset_index()

h_df['h_bool'] = h_df['hits_count'].apply(lambda x: 0 if x == 0 else 1)
h_df['cumulative_game_hit'] = h_df.groupby('batter')['h_bool'].cumsum()
h_df['games_played'] = h_df.groupby('batter').cumcount() + 1

h_df['hpg/year'] = h_df['cumulative_game_hit']/h_df['games_played']

# df['last_5_sum'] = df['value'].rolling(window=5, min_periods=1).sum()

h_df['h_last_10_games'] = h_df.groupby('batter')['h_bool'].rolling(window = 10, min_periods = 1).sum().reset_index(level=0, drop=True)
h_df['h_last_5_games'] = h_df.groupby('batter')['h_bool'].rolling(window = 5, min_periods = 1).sum().reset_index(level=0, drop=True)
h_df['h_last_3_games'] = h_df.groupby('batter')['h_bool'].rolling(window = 3, min_periods = 1).sum().reset_index(level=0, drop=True)

,game_pk,batter,hits_count,h_bool,cumulative_game_hit,games_played,hpg/year,h_last_10_games
96,413653,543333,1,1,1,1,1.000000,1.0
544,413675,543333,2,1,2,2,1.000000,2.0
804,413687,543333,2,1,3,3,1.000000,3.0
1077,413700,543333,1,1,4,4,1.000000,4.0
1391,413715,543333,1,1,5,5,1.000000,5.0
...,...,...,...,...,...,...,...,...
52100,446273,543333,0,0,123,168,0.732143,7.0
52120,446274,543333,2,1,124,169,0.733728,8.0
52140,446275,543333,0,0,124,170,0.729412,7.0
52166,446276,543333,0,0,124,171,0.725146,6.0
52190,446277,543333,2,1,125,172,0.726744,6.0

,game_pk,batter,hits_count,h_bool,cumulative_game_hit,games_played,hpg/year,h_last_10_games,shifted_hpg
96,413653,543333,1,1,1,1,1.000000,1.0,0.000000
544,413675,543333,2,1,2,2,1.000000,2.0,1.000000
804,413687,543333,2,1,3,3,1.000000,3.0,1.000000
1077,413700,543333,1,1,4,4,1.000000,4.0,1.000000
1391,413715,543333,1,1,5,5,1.000000,5.0,1.000000
...,...,...,...,...,...,...,...,...,...
52100,446273,543333,0,0,123,168,0.732143,7.0,0.736527
52120,446274,543333,2,1,124,169,0.733728,8.0,0.732143
52140,446275,543333,0,0,124,170,0.729412,7.0,0.733728
52166,446276,543333,0,0,124,171,0.725146,6.0,0.729412
52190,446277,543333,2,1,125,172,0.726744,6.0,0.725146

In [ ]:
# KPG calulation (k's or strikeouts per game)
k_df = data_15.groupby(['game_pk', 'batter'])['ks_count'].sum().reset_index()
k_df['cumulative_ks'] = k_df.groupby('batter')['ks_count'].cumsum()
k_df['k_last_10_games'] = k_df.groupby('batter')['ks_count'].rolling(window = 10, min_periods = 1).sum().reset_index(level=0, drop=True)
k_df['k_last_5_games'] = k_df.groupby('batter')['ks_count'].rolling(window = 5, min_periods = 1).sum().reset_index(level=0, drop=True)
k_df['k_last_3_games'] = k_df.groupby('batter')['ks_count'].rolling(window = 3, min_periods = 1).sum().reset_index(level=0, drop=True)


# WPG calculations (walks per game)
w_df = data_15.groupby(['game_pk', 'batter'])['walks_count'].sum().reset_index()
w_df['cumulative_ws'] = w_df.groupby('batter')['walks_count'].cumsum()
w_df['w_last_10_games'] = w_df.groupby('batter')['walks_count'].rolling(window = 10, min_periods = 1).sum().reset_index(level=0, drop=True)
w_df['w_last_5_games'] = w_df.groupby('batter')['walks_count'].rolling(window = 5, min_periods = 1).sum().reset_index(level=0, drop=True)
w_df['w_last_3_games'] = w_df.groupby('batter')['walks_count'].rolling(window = 3, min_periods = 1).sum().reset_index(level=0, drop=True)

# ABS calculations (at bats per game)
ab_df = data_15.groupby(['game_pk', 'batter'])['ab_count'].sum().reset_index()
ab_df['cumulative_ws'] = ab_df.groupby('batter')['ab_count'].cumsum()
ab_df['ab_last_10_games'] = ab_df.groupby('batter')['ab_count'].rolling(window = 10, min_periods = 1).sum().reset_index(level=0, drop=True)
ab_df['ab_last_5_games'] = ab_df.groupby('batter')['ab_count'].rolling(window = 5, min_periods = 1).sum().reset_index(level=0, drop=True)
ab_df['ab_last_3_games'] = ab_df.groupby('batter')['ab_count'].rolling(window = 3, min_periods = 1).sum().reset_index(level=0, drop=True)

join_1 =  pd.merge(h_df, k_df, on=['game_pk', 'batter'], how='left')
join_2 =  pd.merge(join_1, w_df, on=['game_pk', 'batter'], how='left')
join_3 = pd.merge(join_2, ab_df, on=['game_pk', 'batter'], how='left')

join_3['kpg/year'] = join_3['cumulative_ks']/join_3['games_played']
join_3['wpg/year'] = join_3['cumulative_ws']/join_3['games_played']
join_3['ab/year'] = join_3['cumulative_ws']/join_3['games_played']


join_3

,game_pk,batter,hits_count,h_bool,cumulative_game_hit,games_played,hpg/year,h_last_10_games,ks_count,cumulative_ks,k_last_10_games,walks_count,cumulative_ws,w_last_10_games,kpg/year,wpg/year
0,413649,405395,0,0,0,1,0.000000,0.0,1,1,1.0,2,2,2.0,1.000000,2.000000
1,413649,429664,1,1,1,1,1.000000,1.0,1,1,1.0,0,0,0.0,1.000000,0.000000
2,413649,430947,1,1,1,1,1.000000,1.0,1,1,1.0,0,0,0.0,1.000000,0.000000
3,413649,443558,0,0,0,1,0.000000,0.0,0,0,0.0,0,0,0.0,0.000000,0.000000
4,413649,448605,0,0,0,1,0.000000,0.0,0,0,0.0,1,1,1.0,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52187,446277,519058,1,1,108,162,0.666667,8.0,1,84,4.0,0,60,1.0,0.518519,0.370370
52188,446277,521692,1,1,105,157,0.668790,7.0,1,90,6.0,0,23,2.0,0.573248,0.146497
52189,446277,527038,0,0,99,150,0.660000,5.0,1,70,7.0,1,29,5.0,0.466667,0.193333
52190,446277,543333,2,1,125,172,0.726744,6.0,2,125,13.0,0,67,3.0,0.726744,0.389535
52191,446277,624424,2,1,35,67,0.522388,3.0,1,47,7.0,0,20,2.0,0.701493,0.298507

In [ ]:
all_data =  pd.merge(join_2, data_15, on=['game_pk', 'batter'], how='left')
all_data

,game_pk,batter,hits_count_x,h_bool,cumulative_game_hit,games_played,hpg/year,h_last_10_games,ks_count_x,cumulative_ks,...,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,h_count,k_count,w_count,hits_count_y,ks_count_y,walks_count_y
0,413649,405395,0,0,0,1,0.000000,0.0,1,1,...,NaN,NaN,-0.036,0.312,0,0,1,0,0,1
1,413649,405395,0,0,0,1,0.000000,0.0,1,1,...,NaN,NaN,0.009,-0.081,0,0,0,0,0,0
2,413649,405395,0,0,0,1,0.000000,0.0,1,1,...,NaN,NaN,-0.032,0.209,0,0,1,0,0,1
3,413649,405395,0,0,0,1,0.000000,0.0,1,1,...,Standard,NaN,0.014,-0.137,0,1,0,0,1,0
4,413649,429664,1,1,1,1,1.000000,1.0,1,1,...,NaN,NaN,-0.010,-0.297,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186652,446277,624424,2,1,35,67,0.522388,3.0,1,47,...,Standard,NaN,0.001,0.154,1,0,0,1,0,0
186653,446277,624424,2,1,35,67,0.522388,3.0,1,47,...,Strategic,NaN,-0.057,-0.290,0,0,0,0,0,0
186654,446277,624424,2,1,35,67,0.522388,3.0,1,47,...,Standard,NaN,0.015,0.374,1,0,0,1,0,0
186655,446277,624424,2,1,35,67,0.522388,3.0,1,47,...,Standard,NaN,-0.015,-0.319,0,0,0,0,0,0
186656,446277,624424,2,1,35,67,0.522388,3.0,1,47,...,Standard,NaN,-0.009,-0.068,0,1,0,0,1,0

In [ ]:
# need to shift columns down one so it is getting the average
# before the game instead of the average with the current game the model will be trying to predict
columns_to_shift = ['hpg/year','kpg/year', 'wpg/year', 'h_last_10_games','h_last_5_games', 'h_last_3_games' ,
                    'k_last_10_games','k_last_5_games', 'k_last_3_games',
                    'w_last_10_games', 'w_last_5_games', 'w_last_3_games',
                    'ab_last_10_games', 'ab_last_5_games', 'ab_last_3_games']
all_data[columns_to_shift] = all_data.groupby('batter')[columns_to_shift].shift(fill_value=0)